GITHUB_PERSONAL_ACCESS_TOKEN=
CHROME_BIN=/usr/bin/google-chrome

VAULT_TOKEN=ops-ahead-dev

GITEA_ADMIN_USERNAME=ops-ahead
GITEA_ADMIN_PASSWORD=ops-ahead-dev

MLFLOW_ADMIN_USERNAME=admin
MLFLOW_ADMIN_PASSWORD=ops-ahead-dev
MLFLOW_CRYPTO_KEK_PASSPHRASE=ops-ahead-dev-kek

MLFLOW_POSTGRES_USER=mlflow
MLFLOW_POSTGRES_PASSWORD=mlflow
MLFLOW_POSTGRES_DB=mlflow

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=ops-ahead-dev

REDIS_PASSWORD=ops-ahead-dev

CLICKHOUSE_PASSWORD=ops-ahead-dev
CLICKHOUSE_MIGRATE_URL=clickhouse://clickhouse.data.svc.cluster.local:9000?username=ops_ahead&password=ops-ahead-dev&database=default&x-multi-statement=true

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=ops-ahead-dev

ARGOCD_ADMIN_PASSWORD=ops-ahead-dev
ARGOCD_ADMIN_PASSWORD_HASH='$2a$10$tYPNvKcWNhQURLgc3.5eyelPuyjVCeL7PU98rsb38.EajGxGjqL8y'
