NODE_ENV=development
APP_ENV=dev
PORT=3000
HOST=0.0.0.0
LOG_LEVEL=info
SERVICE_NAME=orchestrator
SERVICE_VERSION=0.1.0

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_ML=trigger.ml
KAFKA_TOPIC_DATA=trigger.data
KAFKA_TOPIC_STATUS=trigger.status
